<!doctype html>
<html lang="zh-cn">
<head>
<meta charset="gb2312">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="applicable-device" content="pc">
<meta http-equiv="mobile-agent"content="format=xhtml;url=https://m.itbyc.com/web/html5/17071.html">
<title> 移动前端不得不了解的HTML5 head 头标签（2016最新版）-杨雨个人博客网站</title>
<meta name="keywords" content="移动,前端,不得,不了解,HTML5,head,标签,201" />
<meta name="description" content="web前端开发，专注前端开发，关注用户体验，关注国内外最新最好的前端开发技术和前端开发资讯的专业博客" />
<meta name="HandheldFriendly" content="true">
<link rel="alternate" media="only screen and(max-width: 640px)" href="https://m.itbyc.com/web/html5/17071.html" >
<script src="js/uaredirect.js" type="text/JavaScript"></script>
<script type="text/javascript">uaredirect("https://m.itbyc.com/web/html5/17071.html");</script>
</script>
<link href="css/base.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
<!--[if (gte IE 6)&(lte IE 8)]>
<script src="js/selectivizr-min.js"></script>
<![endif]-->   
</head>
<body>
<figure>
	<p>欢迎光临杨雨的个人博客站! <a class="emails" rel="nofollow" target="_blank" href="http://list.qq.com/cgi-bin/qf_invite?id=a5aad8606fe79d443df680b0f43d5a0978e72226793edee3" ></a>
		<a class="rssdy" target="_blank" href="http://itbyc.com/sitemap.xml"  title="rss订阅"></a>
    </p>
</figure>
<header>
 <img src="picture/logo.jpg" alt="杨雨个人网站-杨雨个人博客-杨照佳" width="170" height="60"> 
  <h1><a href="/">杨雨个人博客网站</a></h1>
  <p>关注互联网和搜索引擎的个人博客网站</p>
</header>
<nav id="nav">
     <ul>
		<li><a href="http://itbyc.com/" >网站首页</a></li>
		<li id='nav_current'><a href='/web/' >WEB开发</a> </li>
		<li><a href='/life/'>网站运营</a> </li>

		<li><a href='/cms/'>cms使用教程</a> </li>

		<li><a href='/share/'>分享</a> </li>

		<li><a href='/itnews/'>IT资讯</a> </li>

		<li><a href='/log/'>心得笔记</a> </li>

		<li><a href='/travel/'>在路上</a> </li>

		<li><a href='/server/'>服务器</a> </li>

     </ul>
	 
</nav><script type="text/javascript">
console.log("%c你又偷看我的源码咯！"," text-shadow: 0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);font-size:5em")
console.log('%c再看我要打你咯！ ', 'background-image:-webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );color:transparent;-webkit-background-clip: text;font-size:5em;');</script>
<section class="arc_mian">
<article id="index_about"> 
        <h2><a href='http://itbyc.com/'>首页</a> > <a href='/web/'>WEB开发</a> > <a href='/web/html5/'>html5案例分享</a> > </h2>
         <h1 class="c_titile"> 移动前端不得不了解的HTML5 head 头标签（2016最新版）</h1>
         <p class="box">发布时间：2017-07-01&#160;&#160;编辑：<a href="http://itbyc.com/" title="个人博客">杨雨个人博客网站</a> &#160;&#160;点击：<script src='js/count.js'type='text/javascript' language='javascrip' ></script> &#160;&#160;<a rel="nofollow" target="_blank " title="" href='http://itbyc.com/plus/link.php?url='></a></p>
         <div class="centent-txt 17071">
          	<p><p align="center"><img src="picture/html5-head.jpg" alt="Html5-head" /></p></p>
<p>HTML的头部内容特别多，有针对<a href="http://itbyc.com/tags/SEO/">SEO</a>的头部信息，也有针对移动设备的头部信息。而且各个浏览器内核以及各个国内浏览器厂商都有些自己的<a href="/web/html5/3299.html">标签</a>元素,有很多差异性。移动端的工作已经越来越成为<a href="/web/2664.html">前端</a>工作的重要内容，除了平常的项目开发，HTML 头部标签功能，特别是meta，link等标签的功能属性显得非常重要。这里整理了一份&lt;head&gt; 部分的清单，让大家了解每个标签及相应属性的意义，写出满足自己需求的 &lt;head&gt; 头部标签，可以很有效的增强页面的可用性。</p>
<p>注：去年整理过移动前端不得不了解的Html5 head 头标签，随着时间和浏览器厂商的升级，现在看起来似乎有些过时了。所以重新整理了一下。增加了新的内容，及过时的一些提示，同时增加了部分桌面端浏览器的一些说明。</p>
HTML基本的头部标签
<p>下面是HTML基本的头部元素:</p>
&lt;!doctype Html&gt;
&lt;Html&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;meta http-equiv="x-ua-compatible" content="ie=edge"&gt;
&lt;!--移动端的页面这个可以忽略，具体可以查看本文Internet Explorer浏览器部分--&gt;
&lt;meta content="width=device-width, initial-scale=1"&gt;
&lt;!--具体可以查看本文 为移动设备添加 viewport 部分--&gt;
&lt;!-- 以上 3 个 meta 标签 *必须* 放在 head 的最前面；其他任何的 head 内容必须在这些标签的 *后面* --&gt;
&lt;title&gt;页面标题&lt;/title&gt;
...
&lt;/head&gt;
<p>其中</p>
&lt;meta http-equiv="x-ua-compatible" content="ie=edge"&gt;
<p>在桌面开发的时候可以让IE浏览器以最新的模式渲染页面，具体可以查看本文Internet Explorer浏览器部分。<br />
如果你的页面确定只在桌面浏览器中运行，那么</p>
&lt;meta content="width=device-width, initial-scale=1"&gt;
<p>也可以省略。</p>
DOCTYPE
<p>DOCTYPE(Document Type)，该声明位于文档中最前面的位置，处于 Html 标签之前，此标签告知浏览器文档使用哪种 HTML 或者 XHTML 规范。</p>
			本文地址：http://itbyc.com/web/html5/17071.html<br>
			转载请注明出处。
         </div>
<div class="shareto"> <span>分享是一种快乐，也是一种美德:</span>
	<div class="bdsharebuttonbox">
	<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
	<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
	<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
	<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
	<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
	<a href="#" class="bds_more" data-cmd="more"></a>
	<a class="bds_count" data-cmd="count"></a>
	</div>
</div>
<div class="ad"><script src='js/ad_js.js' language='javascript'></script>
</div>
<div class=nextinfo>
<p>上一篇：<a href='/web/html5/17069.html'> CSS3 Flexbox属性可视化指南</a> </p>
<p>下一篇：没有了 </p>
</div> 
 <div class="otherlink">
 <div id="hm_t_40518">
 </div>
</div> 
  <div class="otherlink">
    <h2>与《 移动前端不得不了解的HTML5 head 头标签（2016最新版）》相关文章</h2>
      <ul>
		 <li><a title="从前端小工到 BAT 中高级工程师的必备技能" href='/web/html5/16894.html'>从前端小工到 BAT 中高级工程师的必备技能</a></li>
<li><a title=" 物联网大潮已来，前端工程师你准备好了吗？[ 杭州 上海 ] 阿里云 IoT 前端招贤纳士" href='/web/html5/16888.html'> 物联网大潮已来，前端工程师你准备好了吗？[ 杭州 上</a></li>
<li><a title="前端新手必看的JavaScript常用DOM操作方法和函数" href='/web/javascript/16367.html'>前端新手必看的JavaScript常用DOM操作方法和函数</a></li>
<li><a title="Web前端页面跳转并取到值" href='/web/html5/16322.html'>Web前端页面跳转并取到值</a></li>
<li><a title="前端模块化（CommonJs,AMD和CMD）" href='/web/javascript/16051.html'>前端模块化（CommonJs,AMD和CMD）</a></li>
<li><a title="联想移动不到半年连换三位高层，也许这就是“安内才能攘外”" href='/itnews/15426.html'>联想移动不到半年连换三位高层，也许这就是“安内才能</a></li>
<li><a title="为何台湾在移动互联网时代远远落后于大陆？" href='/itnews/15419.html'>为何台湾在移动互联网时代远远落后于大陆？</a></li>
<li><a title="使用spring mvc+localResizeIMG实现HTML5端图片压缩上传的功能" href='/web/html5/15347.html'>使用spring mvc+localResizeIMG实现HTML5端图片压缩上</a></li>
<li><a title="dux主题1.8下载-大前端主题" href='/share/15346.html'>dux主题1.8下载-大前端主题</a></li>
<li><a title="前端编码规范（4）—— CSS 和 Sass (SCSS) 开发规范" href='/web/css3/15270.html'>前端编码规范（4）—— CSS 和 Sass (SCSS) 开发规范</a></li>
<li><a title="web前端开发规范文档(2014年版本)" href='/web/css3/15269.html'>web前端开发规范文档(2014年版本)</a></li>
<li><a title="详解前端HTML5几种存储方式的总结" href='/web/html5/15146.html'>详解前端HTML5几种存储方式的总结</a></li>
<li><a title="基于zepto的插件之移动端无缝向上滚动并上下触摸滑动实例代码" href='/web/html5/15142.html'>基于zepto的插件之移动端无缝向上滚动并上下触摸滑动</a></li>
<li><a title="详解移动端HTML5页面端去掉input输入框的白色背景和边框（兼容Android和ios）" href='/web/html5/15140.html'>详解移动端HTML5页面端去掉input输入框的白色背景和边</a></li>
<li><a title="详解移动端Html5页面长按实现高亮全选文本内容的兼容解决方案" href='/web/html5/15087.html'>详解移动端Html5页面长按实现高亮全选文本内容的兼容</a></li>
<li><a title="9个用于移动APP开拓的顶级JavaScript框架" href='/web/javascript/14961.html'>9个用于移动APP开拓的顶级JavaScript框架</a></li>

       </ul>      
  </div>       
  <!-- Duoshuo Comment BEGIN -->
	<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"  data-thread-key="17071" data-author-key="1"  data-url="http://itbyc.com/web/html5/17071.html"  data-image="http://itbyc.com/uploads/allimg/170701/192F49255_lit.jpg" data-title=" 移动前端不得不了解的HTML5 head 头标签（2016最新版）"></div>
	<script type="text/javascript">
	var duoshuoQuery = {short_name: "itbyc"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END --><div id="ds-ssr" class="mt1">
	<dl class="tbox">
		<dt> <strong>评论列表（网友评论仅供网友表达个人看法，并不表明本站同意其观点或证实其描述）</strong> </dt>
		<dd>
			<div class="dede_comment">
				<div class="decmt-box1">
					<ul>
						<li id="commetcontentNew"></li>

 
					</ul>
				</div>
			</div>
		</dd>
	</dl>
</div>


<!-- Duoshuo Comment END -->       
</article>
<aside  class="boxr"> 
<script type="text/javascript">document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E%3Cscript charset="utf-8" src="http://znsv.baidu.com/customer_search/api/js?sid=12869033534231014979') + '&plate_url=' + (encodeURIComponent(window.location.href)) + '&t=' + (Math.ceil(new Date()/3600000)) + unescape('"%3E%3C/script%3E'));</script>
<script src='js/ad_js.js' language='javascript'></script>
   <div class="newbolg">
       <h2>博客最新</h2>
      <ul>
       		<li><a title="SVG片段标识符(Fragment Identifiers)如何工作" href="/web/html5/16886.html">SVG片段标识符(Fragment Identif</a></li>
<li><a title="localstorage和sessionstorage使用记录(推荐)" href="/web/html5/16800.html">localstorage和sessionstorage使</a></li>
<li><a title="HTML5本地存储之IndexedDB" href="/web/html5/16799.html">HTML5本地存储之IndexedDB</a></li>
<li><a title="HTML5拖放API实现拖放排序的实例代码" href="/web/html5/16620.html">HTML5拖放API实现拖放排序的实例</a></li>
<li><a title="HTML5中indexedDB 数据库的使用实例" href="/web/html5/16619.html">HTML5中indexedDB 数据库的使用</a></li>
<li><a title="详解HTML5 window.postMessage与跨域" href="/web/html5/16615.html">详解HTML5 window.postMessage与</a></li>
<li><a title="Html5实现文件异步上传功能" href="/web/html5/16614.html">Html5实现文件异步上传功能</a></li>
<li><a title="Html5新标签datalist实现输入框与后台数据库数据的动态匹配" href="/web/html5/16613.html">Html5新标签datalist实现输入框</a></li>
<li><a title="Web前端页面跳转并取到值" href="/web/html5/16322.html">Web前端页面跳转并取到值</a></li>
<li><a title="HTML5 LocalStorage 本地存储刷新值还在" href="/web/html5/16233.html">HTML5 LocalStorage 本地存储刷</a></li>

       </ul>        
    </div>    
   <div class="newbolg">
       <h2>最近热点</h2>
      <ul>
      	<li><a href="/web/html5/454.html" title="如何解决HTML5 video视频标签不兼容的情况" target="_blank">如何解决HTML5 video视频标签不兼容的情况</a></li>
<li><a href="/web/html5/14043.html" title="Html5元素及根基语法详解" target="_blank">Html5元素及根基语法详解</a></li>
<li><a href="/web/html5/2239.html" title="html5开发工具推荐-我最常用的html5 开发工具" target="_blank">html5开发工具推荐-我最常用的html5 开发工具</a></li>
<li><a href="/web/html5/2285.html" title="HTML--&lt;Meta name=＂＂ Content=＂＂&gt; 标签的详解" target="_blank">HTML--&lt;Meta name=＂＂ Content=＂＂&gt; </a></li>
<li><a href="/web/html5/2649.html" title="HTML5 中 div section article 的区别" target="_blank">HTML5 中 div section article 的区别</a></li>
<li><a href="/web/html5/461.html" title="HTML 5 教程(二) - 结构" target="_blank">HTML 5 教程(二) - 结构</a></li>
<li><a href="/web/html5/115.html" title="资深app开发者的经验之谈：想简单点，降低风险" target="_blank">资深app开发者的经验之谈：想简单点，降低风</a></li>
<li><a href="/web/html5/469.html" title="教你如何利用HTML5做网页" target="_blank">教你如何利用HTML5做网页</a></li>
<li><a href="/web/html5/7083.html" title="分享29个基于Bootstrap的HTML5响应式网页设计模板" target="_blank">分享29个基于Bootstrap的HTML5响应式网页设计</a></li>
<li><a href="/web/html5/2693.html" title="HTML5 Charset能用吗？" target="_blank">HTML5 Charset能用吗？</a></li>

       </ul>        
    </div> 
     <div class="visitors">
      <h2>最近访客</h2>
      <ul class="ds-recent-visitors"  data-num-items="21"></ul>
    </div>
   <div class="hotcomm">
       <h2>热评文章</h2>
    <ul  class="ds-top-threads" data-range="weekly" data-num-items="6"></ul>
    </div>  
</aside >
</section>
<div id="copright"><span><a href="http://itbyc.com/" >博客首页</a> | <a href="http://itbyc.com/web/" target="_blank" title="HTML5/css3">WEB开发</a> | <a href="http://itbyc.com/life/" target="_blank" title="网站运营">网站运营</a> | <a href="http://itbyc.com/cms/" target="_blank">CMS使用教程</a> </span><span>滇ICP备14002061号-1</span>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fca9c9aeca6d24b987c40c4c8ad091e42' type='text/javascript'%3E%3C/script%3E"));
</script>

</div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<script type="text/javascript">
var duoshuoQuery = {short_name:"itbyc"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<script type="text/javascript">
var cpro_id = "u1682227";
</script>
<script src="js/cnw.js" type="text/javascript"></script>
<script type="text/javascript">
var cpro_id = "u1690279";
</script>
<script src="js/i.js" type="text/javascript"></script>
</body>
</html>